@import "colors";
@import "fonts";
@import "mixins";
@import "animations";
@import "variables";
@import "extends";

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    overflow-X: hidden;
}
.azure {
    background-color: $azure;
}
.lime {
    background-color: $lime;
}
.navyBlue {
    background-color: $navyBlue;
}
.nav {
    position: relative;
    @extend %flexRow;
    width: 90%;
    height: 61px;
    justify-content: space-between;
    margin: 0px auto 30px auto;
    text-align: center;
    .nav__logo {
        width: 60px;
        height: 60px;
        .nav__img {
            position: relative;
            width: 50px;
            height: auto;
            border-radius: 50%;
        }
    }
    .nav__toggler {
        width: 27px;
        transition: all .2s ease-in-out;
        &:hover, &:active {
            transform: scale(1.1);
            .nav__line {
                background-color: $lime;
            }
        }
        .nav__line {
            margin-bottom: 5px;
            margin-left: auto;
            height: 2px;
            width: 23px;
            background-color: $navyBlue;
            &:nth-child(2) {
                right: 0px;
                width: 21px;
            }
        }
    }

    .nav__wrapper {
        padding-left: 40px;
        transition: right .3s ease-in-out;
        display: none;
        .nav__item {
            .nav__link {
                    transition: transform .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    .nav__wrapper--active {
        position: fixed !important;
        @extend %flexColumn;
        z-index: 10;
        padding: 0px;
        right: -100vw;
        top: 67px;
        width: 100%;
        background-color: black;
        text-align: center;
        .nav__item {
            display: inline-flex;
            position: relative;
            left: 0px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 69px;
            background-color: white;
            border-bottom: solid 1px $powder;
            .nav__link {
                text-decoration: none;
                color: $navyBlue;
                font-size: 12px;
                font-weight: bold;
                transition: all .2s ease-in-out;
                &:hover, &:active {
                    color: $azure;
                }
                .nav__icon {
                    transition: transform .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
.header {
    height:360px;
    margin-bottom: 18px;
}
.header__main {
    position: relative;
    @extend %flexRow;
    width: $basicWidth;
    background-color: white;
    justify-content: center;
    .header__graphics {
        position: absolute;
        top: 0px;
        width: 290px;
        margin-left: -5vw;
        z-index: 2;
        .header__img {
            position: absolute;
            width: 320px;

        }
        .elipse1 {
            @include elipseLeft (22px, 22px, 38px, 0px);
        }
        .elipse2 {
            @include elipseLeft (11px, 11px, 58px, 26px);
        }
        .elipse3 {
            @include elipseRight (33px, 33px, 9px, -25px);
        }
        .elipse4 {
            @include elipseRight (7px, 7px, 45px, -3px);
        }
        .elipse5 {
            @include elipseRight (15px, 15px, 69px, -20px);
        }
    }
}
.main {
    margin-bottom: 120px;
}
.elipse {
    position: absolute;
    transition: background-color .5s linear;
    @extend %round;
}
.point {
    width: $basicWidth;
    margin-left: auto;
    margin-right: auto;
    &:nth-child(2) {
        margin-bottom:86px;
        .point__header {
         .point__title, .point__number {
             color: $navyBlue;
         }   
         .point__number--2:before {
             z-index:-1;
         }
        }
    }
}
.point__header {
    position: relative;
    @extend %flexRow;
    justify-content: space-between;
    color: $azure;
    text-align: right;
    align-items: baseline;
    .point__title {
        font-size: $text;
    }
    .point__number {
        position: relative;
        font-family: Ultra;
        font-size: $number;
    }
    .point__number--1:before, .point__number--2:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 90vw;
        top: 56px;
         }
        .point__number--1:before{
            left: -10px;
            background-image: $azureGradient;
        }
        .point__number--2:before {
            right: -10px;
            background-image: $revAzureGradient;
        }
    .about__elipse1 {
        @include elipseRight (6px, 6px, 0px, 33px);
    }
    .about__elipse2 {
        @include elipseRight (34px, 34px, 22px, 11px);
    }
    .about__elipse3 {
        @include elipseRight (17px, 17px, -10px, 2px);
    }
    .about__elipse4 {
        @include elipseRight (57px, 57px, 4px, -52px);
    }
}
.point__paragraph {
    color: $navyBlue;
    font-size: $text;
    font-weight: bold;
    color: $navyBlue;
    text-align: center;
    padding: 10px;
}
.about__pictures {
    position: relative;
    height: 200px;
    width: 100vw;
    margin-left: -5vw;
    .about__img {
        position: absolute;
        height: auto;
        max-width: 200px;
        &--bg, &--1, &--2 {
            left: 0px;
            width: 45vw;
            top: 10px;
        }
        &--bg {
            z-index: 1;
        }
        &--1 {
            z-index: 2;
        }
        &--2 {
            z-index: 3;
        }
        &--3 {
            top: 80px;
            left: 45vw;
            width: 20vw;
            max-width: 90px;
        }
        &--4 {
            left: 65vw;
            width: 35vw;
            max-width: 150px;
        }
    }
}
.brief {
    position: relative;
    width: $basicWidth;
    margin-left: auto;
    margin-right: auto;
    background-color: $trAzure2;
    padding: 16px;
    .brief__elipse1 {
        @include elipseRight (32px, 32px, -82px, 15px);
    }
    .brief__elipse2 {
        @include elipseRight (6px, 6px, -64px, 3px);
    }
    .brief__elipse3 {
        @include elipseRight (19px, 19px, -40px, -3px);
    }
    .brief__elipse4 {
        @include elipseRight (10px, 10px,-88px, -10px);
    }
    .brief__title {
        position: relative;
        margin-top: 50px;
        font-size: 30px;
        color: $navyBlue;
        font-family: Ultra;
        font-weight: 300;
        margin-bottom: 50px;
        &:before {
            content:" ";
            background-color: $navyBlue;
            height: 2px;
            width: 75px;
            position: absolute;
            bottom: 50px;
            left: 0px;
        }
    }
    .brief__paragraph {
        color: $navyBlue;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
        &:nth-child(2) {
            margin-bottom: 185px;
        }
    }
    .brief__header {
        position: relative;
    }
    .brief__photo {
        position: absolute;
        margin-top: -145px;
        left: 50%;
        transform: translateX(-50%);
        .breif__img {
            left: 0px;
        }
    }
}
.contact {
    position: relative;
    margin: 20px auto;
    width: $basicWidth;
    @extend %flexColumn;
    .contact__header { 
        @extend %flexColumn;
        height: 130px;
        text-align: center;
        justify-content: space-around;
        .contact__title {
            color: $azure;
            padding: 10px;
            font-size: 24px;
            font-weight: 600;
        }
        .contact__paragraph {
            color: $navyBlue;
            font-size: 14px;
            line-height: 20px;
           &--bolder {
            color: $navyBlue;
               font-size: 16px;
               font-weight: 600;
           } 
        }
    }
    .contact__container {
        @extend %flexColumn;
        text-align: center;
        justify-content: space-between;
        .contact__box {
            @extend %flexColumn;
            flex-wrap: wrap;
            margin-bottom: 10px;
            height: 160px;
            padding: 8px;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            .contact__icon {
                @extend %round;
                height: 80px;
                width: 80px;
            }
            .contact__text {
                color: $pink;
                &--bolder {
                    color: $pink;
                    font-weight: bolder;
                }
            }
        }
    }
}

/* Media queries */

/* Very little phones and similar devices pretendent to be smartphone */
@media #{$calculator} {
    .header__main {
        width: 100vw !important;
        .header__graphics {
            width: 90%;
            margin-left: -5vw;
            .elipse1 {
                top: 25px;
                left: calc(-6px + 5vw);
            }
            .elipse2 {
                top: 48px;
                left: calc(20px + 5vw);
            }
            .header__img {
                left: 5vw;
                width: 100%;
                height: auto;
    
            }
        }
    }
    .brief__photo {
        width: 90%;
        margin: 0px auto;
    }
    .brief__img {
        width: 100% !important;
        height: auto !important;
    }
}

/* Large phones and small tablets */
@media #{$phone}{
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
        width: 90%;
        margin: 0px auto 30px auto;
      .nav__toggler {
        display: none;
      }
      .nav__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 602px;
        width: 100%;
        right: 0px;
        justify-content: flex-start;
        .nav__item {
            display: inline-flex;
            position: relative;
            left: 0px;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            width: 100%;
            max-width: 100px;
            height: 69px;
            background-color: white;
            border-bottom: none;
            &:nth-child(1)::before {
                content: "";
                position: absolute;
                top: 55px;
                left: 0px;
                width: 50%;
                height: 2px;
                background-color: $azure;
            }
            &:nth-child(4) {
                margin-left: auto;
                padding: 4px;
                margin-right: 0px;
            }
            .nav__link {
                text-decoration: none;
                color: $navyBlue;
                font-size: 12px;
                font-weight: bold;
                transition: all .2s ease-in-out;
                &:hover, &:active {
                    color: $azure;

                }
            }
        }
    }
}  
.header {
    height: 80vw !important;
    max-height: 500px !important;
    
}
.header__main {
    width: 90%;
    max-width: 642px;
    margin: 0px auto;
    height: 500px; 
    .header__graphics {
        margin-left: 0px;
        width: 70%;
        .header__img {
            width: 100%;
            height: auto;
        }
    }
}
.header__box {
    width: calc(90% - 90px);
    margin-left: 45px;
    max-width: 430px;
}
.elipse1 {
    top: calc(38px + 1vw) !important;
    left: 6px !important;
}
.elipse2 {
    top: calc(58px + 1vw) !important;
    left: 30px !important;
}
.elipse3 {
    top: calc(9px + 1vw) !important;
    right: 0px !important;
}
.elipse4 {
    top: calc(45px + 1vw) !important;
    right: 25px !important;
}
.elipse5 {
    top: calc(69px + 1vw) !important;
    right: 6px !important;
}
.point {
    max-width: 80%;
    .point__paragraph {
        width: 240px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: -10px;
        text-align: left;
}
.about__pictures {
    margin-left: -10vw !important;
    margin-bottom: 10vw !important;
    .about__img {
        position: absolute;
        max-width: 250px;
        &--3 {
            top: calc(80px + 3vw) !important;
            left: 45vw;
            width: 20vw;
            max-width: 120px;
        }
        &--4 {
            left: 65vw;
            width: 35vw;
            max-width: 180px;
        }
    }
}
}
.point:nth-child(2) {
    .point__paragraph {
        margin-left: 0px;
        margin-right: auto;
    }
}
.brief {
    max-width: 80%;
}
}
// Large tablets and small laptops
@media #{$tablet}{
    .nav {
        justify-content: center;
    }
    .header__main {
        width: 642px;
        margin: 0px auto;
        height: 500px;  
}
.header__box {
    justify-content: flex-start;
    top: -312px;
    height: 290px;
}
.point {
    max-width: 600px;
    .point__header {
    }
    .point__number {
        font-size: $numberTablet;
        &--1:before, &--2:before {
            top: 76px;
        }
    }
    .point__title {
        font-size: $textDesktop;
    }
}
.contact {
    .contact__header {
    display: block;
    margin-bottom: 30px;
}
.contact__container {
    flex-direction: row;
    width: 100%;
    align-items: center;
    .contact__box {
        align-items: flex-start;
        .contact__icon {
            margin: 0px auto;
        }
        .contact__text, .contact__text--bolder {
            text-align: left;
        }
    }
}
}
}
// Desktops
@media #{$desktop}{
    .nav {
        margin-bottom: 30px;
        height: 95px;
        transform: translateX(-20px);
    }
    .nav__wrapper {
        max-width: 692px !important;
    }
    .nav__logo {
        margin-left: -20px;
    }
    .main {
        width: 80vw;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .point {
        display: block;
        max-width: 800px;
        &__header {
            width: 800px;
            align-items: center;
            justify-content: space-around;
        }
        .point__paragraph {
            font-size: 14px;
            width: 400px;
            transform: translateY(-50px);
            
        }
        &:nth-child(1) {
            margin-left: 0px !important;
            .point__header {
                margin-left: 0px;
                .elipse {
                    transform: translate(50px, 80px);
                }
            }
            .point__title {
                transform: translateY(-20px);
            }
            .point__paragraph {
               
            }
        }
        &:nth-child(2) {
            margin-top: -350px;
            margin-right: 0px !important;
            .point__header {
                width: 40vw;
                max-width: 600px;
                margin-right: 0px;
            }
            .point__title {
                transform: translateY(-20px);
            }
            .point__paragraph {
                margin-right: 200px;
                width: 300px;
                margin-left: auto;
            }

        }
        .point__number {
            font-size: $numberDesktop;
            &--1:before {
                width: 800px;
                top: 108px;
            }
            &--2:before{
                width: 400px;
                top: 108px;
            }
        
        }
        .about__pictures {
            display: inline-block;
            margin-left: 0px !important;
            transform: translateX(-50px);
            margin-bottom: 0px;
            width: 300px;
            .about__img {
                &--bg, &--1, &--2 {
                    left: 150px;
                    top: 5px;
                }
                &--3 {
                    left: 70px !important;
                    top: 5px !important;
                }
                &--4 {
                    top: 70px;
                    left: -50px;
                    width: 200px;
                }
            }
        }
    }
    .brief {
        position: relative;
        max-width: 1400px !important;
        height: 450px;
        width: 100vw !important;
        margin-left: -10vw !important;
        .brief__header {
            width: 30vw;
            max-width: 300px;
            left: 40%;
            transform: translateX(-300px);
            .brief__title:before {
                left: -20px;
            }
        }
        &__describe {
            position: relative;
            width: 40vw;
            max-width: 600px;
            margin-left: auto;
            margin-right: 10vw;
            margin-top: -100px;
            .brief__photo {
                position: relative;
                transform: translateX(-400px);
                left: 0px;
                margin-top: -350px;
            }

        }
    }
    .contact__container {
        max-width: 1100px;
    }

}
// Huge esktops
@media #{$hugeDesktop}{
    .brief {
        position: relative;
        max-width: 2000px !important;
        height: 450px;
        width: 100vw !important;
        margin-left: -10vw;
        left: 50%;
        transform: translateX(-40%);
    }
}