@import "colors";
@import "fonts";
@import "mixins";
@import "animations";
@import "variables";
@import "extends";

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    overflow-X: hidden;
}
.azure {
    background-color: $azure;
}
.lime {
    background-color: $lime;
}
.navyBlue {
    background-color: $navyBlue;
}
.nav {
    position: relative;
    @extend %flexRow;
    width: 90%;
    height: 61px;
    justify-content: space-between;
    margin: 0px auto 30px auto;
    text-align: center;
    .nav__logo {
        width: 50px;
        height: 50px;
        background-color: wheat;
        .nav__img {
            position: relative;
            width: 44px;
            height: auto;
            background-color: $azure;
            border-radius: 50%;
        }
    }
    .nav__toggler {
        width: 27px;
        .nav__line {
            margin-bottom: 5px;
            margin-left: auto;
            height: 2px;
            width: 23px;
            background-color: $navyBlue;
            &:nth-child(2) {
                right: 0px;
                width: 21px;
            }
        }
    }

    .nav__wrapper {
        padding-left: 40px;
        transition: right .3s ease-in-out;
        display: none;
    }
    .nav__wrapper--active {
        position: fixed !important;
        @extend %flexColumn;
        z-index: 10;
        padding: 0px;
        right: -100vw;
        top: 67px;
        width: 100%;
        background-color: black;
        text-align: center;
        .nav__item {
            display: inline-flex;
            position: relative;
            left: 0px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 69px;
            background-color: white;
            border-bottom: solid 1px $powder;
            .nav__link {
                text-decoration: none;
                color: $navyBlue;
                font-size: 12px;
                font-weight: bold;
                transition: all .2s ease-in-out;
                &:hover, &:active {
                    color: $azure;

                }
            }
        }
    }
}
.header {
    height:330px;
}
.header__main {
    position: relative;
    @extend %flexRow;
    width: $basicWidth;
    background-color: white;
    height: 260px;
    .header__backgroundText, .header__backgroundText--littler, .header__backgroundText--mini {
        color: $bgBlue;
        display: inline-block;
        position: absolute;
        width: auto;
        z-index: 1;
    }
    .header__backgroundText {
        letter-spacing: 7px;
        font-size: 32px;
        top: 0px;
        font-weight: 900;
        z-index: 1;
    }
    .header__backgroundText--littler {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: bolder;
        left: 129px;
        top: 44px;
        z-index: 1;
    }
    .header__backgroundText--mini {
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 400;
        top: 64px;
        left: 129px;
        z-index: 1;
    }
    .header__graphics {
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 2;
        .elipse1 {
            @include elipseLeft (22px, 22px, 38px, -16px);
        }
        .elipse2 {
            @include elipseLeft (11px, 11px, 58px, 10px);
        }
        .elipse3 {
            @include elipseRight (33px, 33px, 9px, -25px);
        }
        .elipse4 {
            @include elipseRight (7px, 7px, 45px, -3px);
        }
        .elipse5 {
            @include elipseRight (15px, 15px, 69px, -20px);
        }
    }
}
.elipse {
    position: absolute;
    transition: background-color .5s linear;
    @extend %round;
}
.header__box {
    position: relative;
    padding: 18px;
    top: - 81px;
    @extend %flexColumn;
    width: $basicWidth2;
    background-color: $trAzure;
    .header__text {
        margin-bottom: 20px;
        color: $navyBlue;
    }
    .header__text--bolder {
        font-size: 20px;
        font-weight: bolder;
    }
    .header__text--thinner {
        font-size: 20px;
        font-weight: 300;
    }
    .header__text--little {
        font-size: 13px;
        font-weight: bolder;
    }
}
.point {
    width: $basicWidth;
    margin-left: auto;
    margin-right: auto;
    &:nth-child(2) {
        margin-bottom:86px;
    }
}
.point__header {
    position: relative;
    @extend %flexRow;
    justify-content: space-between;
    color: $azure;
    align-items: baseline;
    .point__title {
        font-size: $text;
        
    }
    .point__number {
        font-size: $number;
    }
    .about__elipse1 {
        @include elipseRight (6px, 6px, 0px, 33px);
    }
    .about__elipse2 {
        @include elipseRight (34px, 34px, 22px, 11px);
    }
    .about__elipse3 {
        @include elipseRight (17px, 17px, -10px, 2px);
    }
    .about__elipse4 {
        @include elipseRight (57px, 57px, 4px, -52px);
    }
}
.point__paragraph {
    color: $navyBlue;
    font-size: $text;
    font-weight: bold;
    color: $navyBlue;
    text-align: center;
}
.brief {
    position: relative;
    width: $basicWidth;
    margin-left: auto;
    margin-right: auto;
    background-color: $trAzure2;
    padding: 16px;
    .brief__elipse1 {
        @include elipseRight (32px, 32px, -82px, 15px);
    }
    .brief__elipse2 {
        @include elipseRight (6px, 6px, -64px, 3px);
    }
    .brief__elipse3 {
        @include elipseRight (19px, 19px, -40px, -3px);
    }
    .brief__elipse4 {
        @include elipseRight (10px, 10px,-88px, -10px);
    }
    .brief__title {
        position: relative;
        margin-top: 50px;
        font-size: 30px;
        color: $azure;
        font-weight: bold;
        margin-bottom: 50px;
        &:before {
            content:" ";
            background-color: $navyBlue;
            height: 2px;
            width: 75px;
            position: absolute;
            bottom: 50px;
            left: 10px;
        }
    }
    .brief__paragraph {
        color: $navyBlue;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;

    }
    .brief__header {
        position: relative;
    }
}
.contact {
    position: relative;
    margin: 20px auto;
    width: $basicWidth;
    @extend %flexColumn;
    .contact__header { 
        @extend %flexColumn;
        height: 130px;
        text-align: center;
        justify-content: space-around;
        .contact__title {
            color: $azure;
            padding: 10px;
            font-size: 24px;
            font-weight: 600;
        }
        .contact__paragraph {
            color: $navyBlue;
            font-size: 14px;
            line-height: 20px;
           &--bolder {
            color: $navyBlue;
               font-size: 16px;
               font-weight: 600;
           } 
        }
    }
    .contact__container {
        @extend %flexColumn;
        text-align: center;
        justify-content: space-between;
        .contact__box {
            @extend %flexColumn;
            flex-wrap: wrap;
            margin-bottom: 10px;
            height: 160px;
            padding: 8px;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            .contact__icon {
                @extend %round;
                height: 40px;
                width: 40px;
                background-color: $azure;
            }
            .contact__text {
                color: $pink;
                &--bolder {
                    color: $pink;
                    font-weight: bolder;
                }
            }
        }
    }
}

/* Media queries */

/* Large phones and small tablets */
@media #{$phone}{
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
        width: 90%;
        margin: 0px auto 30px auto;
      .nav__toggler {
        display: none;
      }
      .nav__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 602px;
        width: 100%;
        justify-content: flex-start;
        .nav__item {
            display: inline-flex;
            position: relative;
            left: 0px;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            width: 100%;
            max-width: 100px;
            height: 69px;
            background-color: white;
            border-bottom: none;
            &:nth-child(1)::before {
                content: "";
                position: absolute;
                top: 55px;
                left: 0px;
                width: 50%;
                height: 2px;
                background-color: $azure;
            }
            &:nth-child(4) {
                margin-left: auto;
                padding: 4px;
                margin-right: 0px;
                background-color: $azure;
            }
            .nav__link {
                text-decoration: none;
                color: $navyBlue;
                font-size: 12px;
                font-weight: bold;
                transition: all .2s ease-in-out;
                &:hover, &:active {
                    color: $azure;

                }
            }
        }
    }
}  
.header {
    height: 500px;
}
.header__main {
    width: 90%;
    max-width: 642px;
    margin: 0px auto;
    height: 500px; 
}
.header__box {
    width: calc(90% - 90px);
    margin-left: 45px;
    max-width: 430px;
}
.point {
    max-width: $maxWidthPhone;
    .point__paragraph {
        width: 240px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: -10px;
        text-align: left;
}
}
.point:nth-child(2) {
    .point__paragraph {
        margin-left: 0px;
        margin-right: auto;
    }
}
.brief {
    max-width: 80%;
}
}
// Large tablets and small laptops
@media #{$tablet}{
    .nav {
        justify-content: center;
    }
    .header__main {
        width: 642px;
        margin: 0px auto;
        height: 500px;  
}
.header__box {
    justify-content: flex-start;
    top: -312px;
    height: 290px;
}
.point {
    max-width: 600px;
    .point__number {
        font-size: $numberTablet;
    }
    .point__title {
        font-size: $textDesktop;
    }
}
.contact {
    .contact__header {
    display: block;
    margin-bottom: 30px;
}
.contact__container {
    flex-direction: row;
    width: 100%;
    align-items: center;
    .contact__box {
        align-items: flex-start;
        .contact__icon {
            margin: 0px auto;
        }
        .contact__text, .contact__text--bolder {
            text-align: left;
        }
    }
}
}
}
// Desktops
@media #{$desktop}{
    .nav {
        margin-bottom: 30px;
        height: 95px;
        transform: translateX(-20px);
    }
    .nav__wrapper {
        max-width: 692px !important;
    }
    .nav__logo {
        margin-left: -20px;
    }
    .point {
        max-width: $basicWidth;
        .point__number {
            font-size: $numberDesktop;
        }
    }
}